
.right-sidebar{
    float:right;
    width: 300px;
    font-size: 15px;
    margin: 40px 0px 15px 24px;    
    color: #555353;
}
/* Css for overflow blog, featured on meta, and hot meta post*/
.widget{
    margin-top: 10px;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 5%),
    -3px -3px 10px rgb(0 0 0 / 5%);    
}

.widget h4{
    background-color:hsl(43, 100%, 90%);
    margin:0%;
    padding: 15px;
    border: 1px solid hsl(43, 84%, 71%);
}
.right-sidebar-div-1{
    background-color: hsl(43 85% 97%);
    padding: 15px;
    border:1px solid hsl(43, 87%, 57%);
}
.right-sidebar-div-1 .right-sidebar-div-2{
    display: flex;
    align-items: flex-start;
    justify-items: space-evenly;
    padding: 10px 0px;
    
}
.right-sidebar-div-1 .right-sidebar-div-2 p{
    padding-left: 10px;
    margin-top: 0%;
    font-size: 14px;
}
/* Css for watched tags*/
.widget-tags{
    margin-top: 40px;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 5%),
               -3px -3px 10px rgb(0 0 0 / 5%); 
}
.widget-tags h4{
    margin: 0%;
    padding: 15px;
    background-color:#f8f9f9;
    border: 1px solid #e3e6e8;
}
.widget-tags-div{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #e3e6e8;
    padding:10px;    
}
.widget-tags-div p{
    padding:5px;
    background-color:rgb(216, 237, 245);
    color:#39739d;
    border-radius:2px;
    font-size:14px;
    margin: 3px;
}