*{
    box-sizing: border-box;
}
.Main-nav-div{
    min-height: 50px;
    margin: 0 auto;
    background-color: #f8f9f9;
    width: 100%;   
    border-top: 3px solid #ef8236;
    position: fixed;
    z-index: 5;
    top: 0%;
    left:0%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(217, 215, 215);  
 }
.navbar{
    height: 100%;
    min-width: 85%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.nav-logo{
    padding: 5px 25px;        
}
.nav-item{   
    margin: 0px 3px; 
    font-size: small;
    font-weight: 500;
    text-decoration: none;
    color:rgb(69,69,69); 
    transition: 0.2s;   
}
.nav-item:hover{
    background-color:rgb(226,226,226) ;    
}
.nav-content{
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
}
.navbar form{
    flex-grow:1;  
    display: flex;  
    padding: 0px 12px; 
    position: relative;
}
.search-input{
    min-width: 90%;   
    margin: 0;
    padding: 8px 10px 8px 32px;
    font-size: 13px;
    border:1px solid #0000003c;
    border-radius: 3px;
}
.search-icon{   
    position:absolute;
    left:25px;
    top:8px;
    color:rgb(242, 237, 237);
    padding: 2px;
}
.nav-Link{
    padding: 7px 13px;
    border: 1px solid #1B75D0;
    border-radius: 5px;
    cursor: pointer;     
}
.nav-Link:hover{
    background-color: #e0f7ff;
}

